<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: site-head">
    <title>Blog home</title>
</head>

<body>

<header th:replace="layout :: site-header"/>

<div class="blog blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <h1 style="color: white">Welcome to Blog</h1>
        Now is: <b th:text="${execInfo.now.time}">date and time</b>

    </main>
    <footer th:replace="layout :: site-footer"/>
</div>


</body>

</html>