<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head">
    <title>Blog login</title>
</head>
<body>
<header th:replace="layout :: site-header"/>
<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
                <div class="mdl-card__media mdl-color-text--grey-50">
                    <h3 th:text="${postRegister.preview}"></h3>
                </div>
            </div>

        </div>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>
<footer th:replace="layout :: site-footer"/>
</body>
</html>