<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head th:replace="layout :: site-head">
    <title>Blog login</title>
</head>
<body>

<header th:replace="layout :: site-header"/>
<div class="blog blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
    <main class="mdl-layout__content">
        <div class="blog__posts mdl-grid">
            <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col"
                 th:each="postRegister : ${postRegisterPage.getContent()}">
                <div class="mdl-card__media mdl-color-text--grey-50" th:object="${postRegister}"
                     th:style="'background-image: url(/img/'+*{id}%3+'.jpg); height: 280px;'">

                    <h3><a th:href="@{'postRegister/' + *{id} +'/post'}" href="entry.html"
                           th:text="*{preview}">Title
                        preview</a></h3>
                </div>
                <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta"
                     th:object="${postRegister}">
                    <div class="meta__icons">
                        <i class="material-icons">calendar_today</i>
                        <span th:text="*{createdTime.toLocalDate()}">2018-07-18</span>
                    </div>
                    <div class="section-spacer"></div>
                    <div class="meta__icons">
                        <span th:text="*{likes}">0</span>
                        <i class="material-icons" role="presentation">favorite</i>
                    </div>
                    <div class="meta__icons">
                        <span th:text="*{views}">0</span>
                        <i class="material-icons" role="presentation">visibility</i>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="layout :: site-footer"/>
    </main>
</div>
</body>
</html>